body {font-family: 'Courier New', Courier, monospace;
    word-wrap: flex;
    text-align: center;
    background-color: rgb(31, 31, 31);
    
    
}

h1 {font-weight: bold; color: aqua; }

h2 {font-family: Arial, Helvetica, sans-serif;
font-size: large;
color: white;}

p {color: white; margin-top: 50px;}

.button {
    background-color: aqua;
    box-shadow: black(0, 0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    padding: 20px 20px;
    margin-top: 100px;
        font-size: 25px;
    display: inline-block;
    color: white;
    text-align: center;
}

.multiple-choice {
    display: block;
    margin-top: 50px;
    text-align: center;
}